/* _content/Industrial-Development-Corporation/Component1.razor.rz.scp.css */
.my-component[b-87q4w6x2s2] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
